.sec1 {background-color: rgb(224, 224, 224);}
.title {padding-bottom: 50px; border-bottom:  2px dotted black;}


.label label {margin-left: 10px;}
button {background-color: tomato;}
.submit {padding-bottom: 15px; border-bottom: 2px dotted;}
.coute {color: #8AA94F;}
.coute h3 {margin-top: px;}
